<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Add Book</h1>
<div class="content">
    <form th:action="@{/book/create}" th:object="${book}" method="POST"
          enctype="multipart/form-data">
        <table>
            <input type="hidden" th:field="*{bookId}"><br/><br/>
            <div class="form-group">
                <label>Title</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" name="myFile" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" th:field="*{price}" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input type="text" th:field="*{quantity}" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" th:field="*{author}" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input type="text" th:field="*{publisher}" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Categories</label>
                <select class="form-control" th:field="*{category}">
                    <option value="Bad"> Kinh dị</option>
                    <option value="School life">Học Đường</option>
                    <option value="Nice"> Trinh Thám</option>
                    <option value="Other">Khác</option>
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="" id="" th:field="*{description}" cols="50" rows="5"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-dark">
                <input type="reset" value="Reset" class="btn btn-dark">
            </div>
        </table>
    </form>
</div>
</body>
</html>

