<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>Cart</title>
</head>
<body>
<h3>Account Login</h3>
<form th:action="@{/account/register}" th:object="${account}" method="post">
    <table border="0">
        <tr>
            <td>Username</td>
            <td>
                <input type="text" th:field="*{username}"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" th:field="*{password}"/>
            </td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td>
                <input type="text" th:field="*{fullname}"/>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" th:field="*{email}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<!--<br/>-->
<!--<a th:href="${'/'}">Back</a>-->
<!--<a th:href="${'cart/checkout'}">Check Out</a>-->
</body>
</html>